@model ProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Profile Page</title>
    <style>
        body {
            color: #797979;
            background: #f1f2f7;
            font-family: Gotham, sans-serif;
            padding: 0px !important;
            margin: 0px !important;
            font-size: 13px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
        }

        .profile-nav, .profile-info {
            margin-top: 30px;
        }

            .profile-nav .user-heading {
                /* background: darkorange; */
                color: #1e1e1e;
                border-radius: 4px 4px 0 0;
                -webkit-border-radius: 4px 4px 0 0;
                padding: 30px;
                text-align: center;
            }

                .profile-nav .user-heading.round a {
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border: 10px solid rgba(255,255,255,0.3);
                    display: inline-block;
                }

                .profile-nav .user-heading a img {
                    width: 112px;
                    height: 112px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }

                .profile-nav .user-heading h1 {
                    font-size: 22px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }

                .profile-nav .user-heading p {
                    font-size: 12px;
                }

            .profile-nav ul {
                margin-top: 1px;
            }

                .profile-nav ul > li {
                    border-bottom: 1px solid #ebeae6;
                    margin-top: 0;
                    line-height: 30px;
                }

                    .profile-nav ul > li:last-child {
                        border-bottom: none;
                    }

                    .profile-nav ul > li > a {
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        color: #89817f;
                        border-left: 5px solid #fff;
                    }

                        .profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active a {
                            background: #f8f7f5 !important;
                            border-left: 5px solid #darkorange;
                            color: #89817f !important;
                        }

                    .profile-nav ul > li:last-child > a:last-child {
                        border-radius: 0 0 4px 4px;
                        -webkit-border-radius: 0 0 4px 4px;
                    }

                    .profile-nav ul > li > a > i {
                        font-size: 16px;
                        padding-right: 10px;
                        color: #bcb3aa;
                    }

        .profile-info {
            padding: 20px;
            background: #fff;
            margin-top:-12px;
            margin-left:550px;
            margin-right: 550px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

            .profile-info .info {
                margin-bottom: 10px;
            }

                .profile-info .info label {
                    font-weight: bold;
                    display: block;
                    margin-bottom: 5px;
                }

                .profile-info .info span {
                    display: inline-block;
                    width: 80%;
                }

                .profile-info .info a {
                    block-size:15px;
                    cursor: pointer;
                    color: darkorange;
                    padding-left: 75px;
                    text-decoration:none;
                }

    </style>
</head>
<body>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="/images//EmptyProfilePic.jpeg" alt="">
                        </a>
                        <h1><b>@Model.Name</b></h1>
                        <p>@Model.Email</p>
                    </div>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="info">
                    <label>Full Name</label>
                    <span>@Model.Name</span>
                    <a class="fa fa-pencil" href="/Account/ChangeFullNameForm"></a>
                </div>
                <div class="info">
                    <label>Username</label>
                    <span>@Model.UserName</span>
                    <a class="fa fa-pencil" href="/Account/ChangeUsernameForm"></a>
                </div>
                <div class="info">
                    <label>Email</label>
                    <span>@Model.Email</span>
                    <a class="fa fa-pencil" href="/Account/ChangeEmailForm"></a>
                </div>
                <div class="info">
                    <label>Password</label>
                    <span>*********</span>
                    <a class="fa fa-pencil" href="/Account/ChangePasswordForm"></a>
                </div>
                <div class="info">
                    <label>Country</label>
                    <span>@Model.Country</span>
                    <a class="fa fa-pencil" href="/Account/#"></a>
                </div>
                <div class="info">
                    <label>City</label>
                    <span>@Model.City</span>
                    <a class="fa fa-pencil" href="/Account/#"></a>
                </div>
                <div class="info">
                    <label>Street</label>
                    <span>@Model.Street</span>
                    <a class="fa fa-pencil" href="/Account/#"></a>
                </div>
                <div class="info">
                    <label>Postal Code</label>
                    <span>@Model.PostalCode</span>
                    <a class="fa fa-pencil" href="/Account/#"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
